.App {
  text-align: center;
  margin-top: 20px;
  background-color: blanchedalmond;
  height: 100vw;
  color: darkblue;
}

.UserDropdown {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
}


.UserTable {
  border-collapse: collapse;
  width: 100%;
  background-color: bisque;
}

.UserTable th,
.UserTable td {
  border: 1px solid #ddd;
  padding: 8px;
  color: darkblue;
}

.UserTable th {
  background-color: #d8b676;
}

.btn-remove {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.btn-remove:hover{
  background-color: #d8b676;
}

